/* *{
    margin: 0 auto;
} */
/* common shared styles */
 body {
     font-family: "Open Sans", serif;
 }

 /* nav related styles */
 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0 200px;
 }
 .text-primary{
    color: #FD6E0A ;
 }
 .btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
 }
 .nav-title {
     color: #181818;
     font-weight: 800;
     font-size: 45px;
 }
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: #474747;
}

.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    background-size: auto,contain;
    
}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.profile-pic{
    width: 500px;
    margin-bottom: -2.64em;
    border-radius: 25px; 
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    /* width: 585px; */
}

/* Main section Styles */
main{
    max-width: 1130px;
    margin: 0 auto; 
}
main section{
    margin-top: 130px;
}
/* About */
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
.about-info-container{
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
#what-i-do-description{
    padding: 30px 150 px;
    margin-bottom: 20px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skiil{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-description{
    color: #757575;
}

/* Summary of Resume */
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container{
    display: flex;
    gap: 50px;
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-item-institute{
    margin-bottom: 20px;
    margin-top: 0;
}
.resume-item-institute, .resume-item-description{
    color: #757575;
}

.resume-container hr{
    margin: 30px
}

.download-cv{
    text-align: center;
    margin: 50px;
}

/* footer style */

footer{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    margin-top: 100px;
    padding: 130px 200px; 
}
.footer-column{
    width: 50%;
}

.soicial-link a{
    margin-right: 25px ;
}
.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}
/* Responsive work now */
.hide{
    display: none;
}

/* Modbile device */

@media screen and (max-width:576px) {
    .header{
        background-image: none;
    }
    ul li{
        margin-right: 10px;
    }
    .btn-primary{
        margin-bottom: 10px;
    }
    nav,.skills-container, .resume-container, .about-info-container, .banner{
        flex-direction: column;
    }
    .banner .profile-pic{
        width: 100%;
        margin-bottom: auto;
    }
    #what-i-do-description, .banner{
        padding: 0 20px;
    }
    footer, .about{
        flex-direction: column;
        padding: 10px;
    }
    .footer-column {
        width: 100%;
    }
    .contact input[type="text"], .contact input[type="email"], textarea{
        width: 70%;
    }
}
@media screen and (min-width:577px) and (max-width:960px) {
    .header{
        background-image: none;
    }
    .btn-primary{
        margin-bottom: 10px;
    }
    nav,.skills-container, .resume-container, .about-info-container, .banner{
        flex-direction: column;
    }
    .banner .profile-pic{
        width: 100%;
        margin-bottom: auto;
    }
    
    footer{
        padding: 30px;

    }
    .contact input[type="text"], .contact input[type="email"], textarea{
        width: 80%;
    }
    .about{
        padding: 10px;
    }
}